name: Continuous Integration

on:
  push:
    branches: ["main"]

concurrency:
  group: master
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  quality-assurance:
    name: Quality Assurance
    uses: ./.github/workflows/pr.yml

  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

    # # - name: Pull image from GitHub Packages
    # # 	uses: docker/login-action@v1
    # # 	with:
    # # 		registry: docker.pkg.github.com
    # # 		username: ${{ secrets.GITHUB_USERNAME }}
    # # 		password: ${{ secrets.GITHUB_TOKEN }}

    # - uses: docker/pull-action@v1
    # 	with:
    # 		images: docker.pkg.github.com/${{ github.repository }}/docker_image_gotk3:${{ github.sha }}
    # 		tag_with_sha: false
    # 		tag_with_ref: false
    # 		add_git_labels: false
    # 		tag_with_version: false
    # 		tag_as_latest: false
    # 		tag_with_name: ${{ secrets.HEROKU_APP_NAME }}
